.invExt {
  @import 'primeicons/primeicons';
  @import 'primeflex/primeflex';

  .card {
    padding: 2em;
  }

  .menuItem-checkbox::before {
    @extend .border-1;
    @extend .border-primary;
    @extend .border-solid;
    @extend .border-round;
    @extend .pi;

    position: absolute;
    top: 25%;
    display: inline-grid;
    align-items: center;
    text-align: center;
    width: max-content;
    height: max-content;
    margin-left: 0.5rem;
  }

  .menuItem-checkbox > .p-menuitem-content {
    margin-left: 1rem;
  }

  .menuItem-checkbox.menuItem-checkbox-checked::before {
    @extend .bg-primary;
    @extend .pi-check;
  }

  .menuItem-checkbox.menuItem-checkbox-unchecked::before {
    @extend .bg-primary-reverse;
    @extend .pi-stop;
  }

  .pipedMainMnuElm {

  }
  @media(min-width: 768px) {
    .pipedMainMnuElm {
      margin-top: -0.75rem;
    }
  }
}
